.left{
    width: 29%;
    float: left;
}
.right{
    width: 70%;
    float: right;
}
.clear{
    clear: both;
}
.rouge{
    color: red;
}
.bleue{
    color: blue;
}
.verdana{
    font-family: verdana;
}